

* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #525659;
}

header{
    border-color: black;
    border-width: 1px 10px 10px 1px;
    border-style: outset;
    width: 90%;
    margin: auto;
    overflow: hidden;
    justify-content: space-evenly;
    border-radius: 20px;
}

.foto{
    margin: 20px 60px 10px 60px;
    padding: 10px 20px 10px 20px;
    float: left;
}

.foto > img{
    width: 150px;
    height: 150px;
}


.textos-header{
    margin: 10px 60px 10px 60px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    float: left;
}

.textos-header hr{
    width: 5%;
    color: black;
    display: block;
    margin: auto
}

.referencia{
    margin: 10px 60px 10px 60px;
    padding: 10px 20px 10px 20px;
    float: left;
}

.puntos span{
    background: rgb(19, 18, 18);
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    width: 35px;
}

.puntos p{
    background: rgb(19, 18, 18);
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    width: 200px;
}

.segundo-cuadro{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 1px 10px 10px 1px;
    border-style: outset;
    margin: auto;
    overflow: hidden;
    justify-content: space-evenly;
}

.row{
    background-color:   #e4f1f3;
}

.borde{
    border: 1px solid;
    width: auto;
    word-wrap: initial;
}

.tercer-cuadro {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 1px 10px 10px 1px;
    border-style: outset;
    margin: auto;
    overflow: hidden;
    justify-content: space-evenly;
}

table {
    width: 100%;
 }

 th, tr {
    width: 25%;
    text-align: left;
 }